/* Import global styles */
@import "../../global.css";

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Ensure the body takes full viewport height */
  display: flex;
  flex-direction: column; /* Stack children vertically */
}

/* Existing styles */
.profile-background {
  background-image: url("../../images/bgpic.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile {
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-section {
  margin-bottom: 20px; /* Adjust the margin as needed to reduce space */
}

.logo-and-details {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; /* Set font color to white */
}

.logo-container {
  width: 100%;
  max-width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.profile-account {
  font-size: 25px;
  text-align: center;
  padding: 10px;
  color: white; /* Set font color to white */
}

.global-message {
  font-weight: bold;
  color: white; /* Set font color to white */
}

.global-toolbar-section {
  margin-top: 20px; /* Adjust the margin as needed to reduce space */
  color: white; /* Set font color to white */
}
