/* bidding.css */

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.chessboard-container {
  text-align: center;
  color: white;
}

label {
  display: block;
  margin: 10px 0;
  color: white;
}

input {
  padding: 8px;
  margin: 5px 0;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333; /* Specify the color for input text */
}

.error-text {
  color: #d9534f; /* Bootstrap danger color */
}

/* Responsive Design */
@media (max-width: 600px) {
  input {
    width: 80%;
  }

  button {
    width: 80%;
  }
}
