/* CSS styles */

.project-section {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height to fill viewport */
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chessboard-container {
  flex-grow: 1; /* Grow to fill remaining space */
  margin-bottom: 20px; /* Add margin to separate from the footer */
}

.chessboard-wrapper {
  height: 60vh; /* Adjust the chessboard height */
  /* Other styling for the chessboard wrapper */
}

/* Add styles for positioning chessboard */
.chessboard-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.chessboard-container {
  margin-top: 80px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  text-align: center;
}

.chessboard {
  max-width: 90%; /* Adjust as needed */
  max-height: 80vh; /* Adjust as needed */
  overflow: auto;
}

/* Additional styles for footer or other components */
/* Add your footer styling here */

